<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head}"></head>
<body class="bg-success-subtle">
<nav th:replace="~{fragments/navbar}"></nav>

<main class="container mt-5" style="max-width: 1000px;">
    <h1 class="mb-5 text-center">Нашите Продукти</h1>

    <div th:if="${products.empty}" class="text-center" style="min-height: 250px;">
        <p style="font-size: 1.5rem; color: gray;">Все още няма налични продукти.</p>
    </div>

    <div class="row g-4" th:if="${!products.empty}">
        <div th:each="product : ${products}" class="col-lg-4 col-md-6 col-sm-12">
            <div class="card card-animation border-0 shadow-sm h-100">
                <form th:action="@{/products/submit-increase-views/{productId}(productId=${product.id})}" method="post">
                    <button type="submit" class="btn p-0 w-100 h-100" style="border: none; text-align: left;">
                        <div class="card-img-top position-relative"
                             style="width: 100%; height: 300px; overflow: hidden; background-color: #f8f9fa;">
                            <img th:src="@{'data:image/jpeg;base64,' + ${encoder.encodeToBase64(product.images.get(product.mainImageIndex))}}"
                                 alt="Product Image" class="img-fluid object-fit-contain"
                                 style="width: 100%; height: 100%;">
                        </div>

                        <div class="card-body text-center">
                            <h6 class="text-uppercase fw-bold text-muted mb-1" th:text="${product.title}"></h6>

                            <p class="card-title fw-bold text-dark" th:text="${product.title}"></p>

                            <h5 class="text-dark fw-light">
                                <span th:text="${#numbers.formatDecimal(product.price, 2, 2)} + ' лв.'"></span>
                            </h5>
                        </div>
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>

<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
