<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head}"></head>
<body class="bg-success-subtle">
<nav th:replace="~{fragments/navbar}"></nav>
<main class="container mt-5" style="max-width: 500px;">
    <form th:action="@{/orders/submit}" method="post" th:object="${order}" id="orderForm" class="card p-4 rounded">
        <h1 class="text-center mb-4">Завърши поръчка</h1>

        <div class="row g-4">
            <div class="col-12">
                <label for="phoneNumber" class="mb-1">Телефонен номер</label>
                <input type="text" th:field="*{phoneNumber}" id="phoneNumber" name="phoneNumber" class="form-control"
                       placeholder="Въведете телефонен номер">
                <div th:each="error : ${#fields.errors('phoneNumber')}" th:text="${error}" class="text-danger mt-2" role="alert"></div>
            </div>

            <div class="col-12">
                <label for="city" class="mb-1">Населено място</label>
                <input type="text" th:field="*{city}" id="city" name="city" class="form-control"
                       placeholder="Въведете населено място">
                <div th:each="error : ${#fields.errors('city')}" th:text="${error}" class="text-danger mt-2" role="alert"></div>
            </div>

            <div class="col-12">
                <label for="postCode" class="mb-1">Пощенски код</label>
                <input type="text" th:field="*{postCode}" id="postCode" name="postCode" class="form-control"
                       placeholder="Въведете пощенски код">
                <div th:each="error : ${#fields.errors('postCode')}" th:text="${error}" class="text-danger mt-2" role="alert"></div>
            </div>

            <div class="col-12">
                <label for="street" class="mb-1">Улица</label>
                <input type="text" th:field="*{street}" id="street" name="street" class="form-control"
                       placeholder="Въведете улица">
                <div th:each="error : ${#fields.errors('street')}" th:text="${error}" class="text-danger mt-2" role="alert"></div>
            </div>

            <div class="col-12">
                <label for="houseNumber" class="mb-1">Номер</label>
                <input type="text" th:field="*{houseNumber}" id="houseNumber" name="houseNumber" class="form-control"
                       placeholder="Въведете номер на къща/апартамент">
                <div th:each="error : ${#fields.errors('houseNumber')}" th:text="${error}" class="text-danger mt-2" role="alert"></div>
            </div>

            <input type="hidden" th:field="*{orderItems}">
            <input type="hidden" th:field="*{orderStatus}">
            <input type="hidden" th:field="*{user}">
            <input type="hidden" th:field="*{totalPrice}">

            <div class="col-12">
                <button type="submit" class="btn btn-success w-100">Потвърди поръчката</button>
            </div>
        </div>
    </form>
</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>