<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head}"></head>
<body>
<nav th:replace="~{fragments/navbar}"></nav>

<main class="container text-center mt-5" style="max-width: 800px">
    <h1 class="fw-bold text-success">Благодарим Ви за поръчката!</h1>
    <div class="mt-4 card border-0 shadow-sm p-4">
        <img src="https://cdn-icons-png.flaticon.com/512/5290/5290058.png"
             alt="Order Success" width="150" height="150" class="mb-3 mx-auto">
        <h3 class="fw-bold">Вашата поръчка е успешно приета!</h3>
        <p class="text-muted mb-3">
            Потвърждение е изпратено на вашия имейл. Скоро ще получите информация за доставката.
        </p>
        <a href="/products" class="btn btn-success px-4 py-2">Продължи пазаруването</a>
    </div>
</main>

<footer th:replace="~{fragments/footer}"></footer>

</body>
</html>
