<footer class="bg-white text-success mt-5 py-3">
    <div class="container" style="max-width: 1000px;">
        <div class="row text-center text-md-start">
            <div class="col-md-4 mb-3">
                <h5 class="text-uppercase">За нас</h5>
                <ul class="list-unstyled">
                    <li><a href="/policies/privacy-policy" class="text-success text-decoration-none">Политика за поверителност</a></li>
                    <li><a href="/policies/terms-conditions" class="text-success text-decoration-none">Общи условия</a></li>
                    <li><a href="/policies/return-policy" class="text-success text-decoration-none">Политика за връщане</a></li>
                    <li><a href="/policies/faqs" class="text-success text-decoration-none">Често задавани въпроси (FAQ)</a></li>
                </ul>
            </div>

            <div class="col-md-4 mb-3">
                <h5 class="text-uppercase">Бързи връзки</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-success text-decoration-none">Начало</a></li>
                    <li><a href="/products?gender=Мъжки" class="text-success text-decoration-none">Мъже</a></li>
                    <li><a href="/products?gender=Дамски" class="text-success text-decoration-none">Жени</a></li>
                </ul>
            </div>

            <div class="col-md-4 mb-3">
                <h5 class="text-uppercase">Контакти</h5>
                <p><i class="bi bi-telephone-fill"></i> Телефон: +359 89 291 8880</p>
                <p><i class="bi bi-envelope-fill"></i> Имейл: <a href="mailto:help@aestique.com" class="text-success text-decoration-none">help@aestique.com</a></p>
                <p><i class="bi bi-geo-alt-fill"></i> гр. София, ул. „Стилна мода“ №10</p>
            </div>
        </div>
        <hr class="bg-secondary">
        <div class="text-center">
            <p>&copy; 2025 Aestique Clothing. Всички права запазени.</p>
        </div>
    </div>
</footer>