<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head}"></head>
<body>
<nav th:replace="~{fragments/navbar}"></nav>

<main class="container mt-4" style="max-width: 1000px">
    <h1 class="mb-4 fw-bold">Кошница</h1>
    <div th:if="${cart.items.size == 0}">
        <div class="d-flex flex-column justify-content-center align-items-center text-center">
            <div class="mt-4">
                <img th:src="@{/images/empty-cart-icon.png}"
                     alt="Empty Cart" width="180" height="180" class="mb-3">
                <h3 class="fw-bold">Вашата кошница е празна!</h3>
                <p class="text-muted">
                    Изглежда все още не сте направили своя избор. Разгледайте нашите продукти и открийте най-добрите за
                    вас.
                </p>
                <a href="/products" class="btn btn-dark mt-3 px-4 py-2">Започни пазаруване</a>
            </div>
        </div>
    </div>

    <div th:if="${cart.items.size != 0}">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="card p-3">
                    <h4 class="fw-bold mb-3">Продукти</h4>
                    <div th:each="orderItem : ${cart.items}" class="mb-3 border-bottom pb-3 position-relative">
                        <div class="row align-items-center">
                            <div class="col-md-2">
                                <div class="ratio ratio-1x1">
                                    <img th:src="'data:image/jpeg;base64,' + ${encoder.encodeToBase64(orderItem.product.images.get(orderItem.product.mainImageIndex))}"
                                         alt="Product Image" class="img-fluid rounded object-fit-contain"
                                         style="width: 100%; height: 100%;">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <h6 class="fw-bold" th:text="${orderItem.product.brand.name}"></h6>
                                <p class="mb-1 text-muted" th:text="${orderItem.product.title}"></p>
                                <p class="mb-1"><strong>Размер:</strong> <span
                                        th:text="${orderItem.productSize.size}"></span></p>
                                <p class="mb-1"><strong>Цвят:</strong> <span
                                        th:text="${orderItem.product.color}"></span></p>
                                <p class="mb-1"><strong>Брой:</strong> <span th:text="${orderItem.quantity}"></span></p>
                            </div>

                            <div class="col-md-4 d-flex justify-content-end align-items-center">
                                <p class="fw-bold text-dark mb-0 me-4"
                                   th:text="${#numbers.formatDecimal(orderItem.product.price * orderItem.quantity, 2, 2)} + ' лв.'"></p>
                            </div>
                            <form th:action="@{/cart/remove-item/{itemId}(itemId=${orderItem.id})}" method="post"
                                  class=" m-2">
                                <button type="submit" class="btn-close position-absolute top-0 end-0"
                                        aria-label="Remove"></button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="card p-4">
                    <p class="text-muted">Цена на артикулите: <span th:text="${#numbers.formatDecimal(totalPrice, 2, 2)}"></span> лв.</p>
                    <p class="text-muted">Доставка и обслужване: 0 лв.</p>
                    <h4 class="fw-bold">Общо: <span th:text="${#numbers.formatDecimal(totalPrice, 2, 2)}"></span> лв.</h4>
                    <a href="/orders/checkout" class="btn btn-dark w-100 fw-bold mt-3">Продължи към плащане</a>

                    <div class="mt-3 border-top pt-3">
                        <h5 class="fw-bold">Приемаме следните методи на плащане</h5>
                        <div class="d-flex justify-content-center gap-3 mt-3">
                            <img src="https://cdn.aboutstatic.com/file/562897eff981d3bae39b47470cc74638.png?quality=75&height=480&width=360" alt="MasterCard" class="border p-2" style="width: 75px; height: auto;">
                            <img src="https://cdn.aboutstatic.com/file/63a5cdd59037df161a7bc20492ec83cb.png?quality=75&height=480&width=360" alt="VISA" class="border p-2" style="width: 75px; height: auto;">
                            <img src="https://cdn.aboutstatic.com/file/153dfa6b847db02949b02b1931ea260e?quality=75&height=480&width=360" alt="Cash on Delivery" class="border p-2" style="width: 75px; height: auto;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<footer th:replace="~{fragments/footer}"></footer>

<script>
    function decreaseValue(button) {
        let input = button.nextElementSibling;
        let currentValue = parseInt(input.value);
        if (currentValue > 1) {
            input.value = currentValue - 1;
        }
    }

    function increaseValue(button) {
        let input = button.previousElementSibling;
        let currentValue = parseInt(input.value);
        if (currentValue < 10) {
            input.value = currentValue + 1;
        }
    }

    function removeFromCart(orderItemId) {
        if (confirm("Сигурни ли сте, че искате да премахнете този продукт?")) {
            const form = document.createElement("form");
            form.method = "post";
            form.action = "/order-items/delete/" + orderItemId;
            form.submit();
        }
    }
</script>

</body>
</html>
