<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head}"></head>
<body class="bg-success-subtle">
<nav th:replace="~{fragments/navbar}"></nav>

<main class="container mt-4" style="max-width: 800px">
    <h1 class="mb-4 fw-bold">Кошница</h1>
    <div th:if="${cart.items.size == 0}" class="card p-4 text-center">
        <div class="mb-3">
            <img src="https://cdn-icons-png.flaticon.com/512/1170/1170627.png" alt="Empty Cart" width="150" height="150">
        </div>
        <h3 class="fw-bold mb-2">Вашата кошница е празна</h3>
        <p class="text-muted mb-3">Добавете продукти в кошницата си, за да видите тук вашите избрани артикули.</p>
        <a href="/products" class="btn btn-success fw-bold">Разгледайте продуктите</a>
    </div>

    <div th:if="${cart.items.size != 0}" class="card p-3">
        <h4 class="fw-bold mb-3">Продукти</h4>
        <div th:each="orderItem : ${cart.items}" class="border-bottom pb-3 mb-3 d-flex align-items-center">
            <img th:src="'data:image/jpeg;base64,' + ${encoder.encodeToBase64(orderItem.product.images.get(orderItem.product.mainImageIndex))}"
                 alt="Product Image" class="img-fluid rounded me-3" style="width: 80px; height: 80px; object-fit: contain;">
            <div class="flex-grow-1">
                <h6 class="fw-bold mb-1" th:text="${orderItem.product.title}"></h6>
                <p class="mb-1 text-muted" th:text="${orderItem.product.category.name}"></p>
                <p class="mb-1"><strong>Брой:</strong> <span th:text="${orderItem.quantity}"></span></p>
            </div>
            <p class="fw-bold text-dark mb-0" th:text="${#numbers.formatDecimal(orderItem.totalPrice, 2, 2)} + ' лв.'"></p>
            <form th:action="@{/cart/remove-item/{itemId}(itemId=${orderItem.id})}" method="post" class="ms-3">
                <button type="submit" class="btn-close" aria-label="Remove"></button>
            </form>
        </div>

        <h4 class="fw-bold text-end">Общо: <span th:text="${#numbers.formatDecimal(totalPrice, 2, 2)}"></span> лв.</h4>
        <a href="/orders/checkout" class="btn btn-success w-100 fw-bold mt-3">Продължи към плащане</a>
    </div>
</main>

<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>